html{
    font-size: 100%; // lets user control zoom, more accessible
    box-sizing: border-box; //include podding in width
} 

*, *::after, *::before{
    box-sizing: inherit;
}


body{
    width: 100%;
    margin: 0;
    padding: 0;
    line-height: 1.3;
    color: $oxfordBlue;
    background-image: linear-gradient($pinkLavender, $orchidPink, white);
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

header{
    h1{
        font-family: 'Press Start 2P', cursive;
        font-size: 3rem;
        font-weight: 700;
        line-height: 1.6;
        text-align: center; 
    }    
}


ul{
    list-style-type: none;
}


button{
    background-color: $uranianBlue;
    width: 15rem;
    border: none;
    outline: none;
    border-radius: 2rem;
    margin: 1rem;
    padding: 0.5rem;
}

.pokemon-name{
        font-family: 'Amatic SC', cursive;
        font-size: 1.5rem;
        font-weight: bold;
}